body {   background-color: #70a8df; 
}  
img {   float: left;   margin-right: 8px;   margin-bottom: 8px;  
} 



 
ul {   list-style: circle;   margin-left: 20px;   padding-left: 0; 
}  
li {   margin-bottom: 10px; 
} 
  
hr {   margin-top: 20px;   margin-bottom: 20px; 
} 
 
